.debug{
  border:1px solid black;
}


ul{
  list-style-type: none;
}

.my_style-header li {
  display:inline-block;
  font-weight: bold;
}

.my_style-header .my_style-top-nav li:first-child{
  background-color: #00D7D2;
  color:black;
  opacity: .7;
  padding:3px 10px;
  border-radius: 3px;
  font-size: 10px;
}

/* header */

.my_style-bot-nav{
padding-top: 10px;
}

.my_style-bot-nav img{
  width:100%;
}

.my_style-bot-nav li:first-child{
  width:10%;
}

.my_style-bot-nav li:nth-child(2){
  margin-left: 3%;
}

.my_style-bot-nav li:last-child{
  margin-left: 30%;
}

.my_style-bot-nav li:not(:first-child),
.my_style-bot-nav li:not(:last-child){
 font-size: 15px;
 padding-right: 13px;
}

.my_border{
  border-bottom:1px solid grey;
}

.bg-header{
  min-height: 700px;
  background-image: url(../img/bg-home-1-d54581d7.jpg);
}

.bg-header h1,
.bg-header p{
  color:white;
}

.bg-header h1{
  font-size: 60px;
  font-weight: bold;
}

.bg-header p{
  opacity:.8;
  font-size: 25px;
}

h3{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.my_style-ul{
  display:none;
}

.white_logo{
  max-width: 150%;
}

.my_padding-header{
  padding-top: 100px;
}

.my_style-form{
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

span.display_block{
  display:block;
  margin-top: 20px;
  font-size: 15px;
}

.my_style-button{
  border: 1px solid rgba(0,105,255,.2);
  color:#031B4E;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my_style-button i{
  margin-right:35px;
}
/* /header */

/* prima sezione */
.size{
  vertical-align: middle;
  width: 90%;
  max-width: 100%;
}

.my_style-section1{
  text-align: center;
  padding:30px;
  margin-bottom: 30px
}

.my_style-section1 ul {
  list-style-type: none;
}

.my_style-section1 ul li{
  display:inline-block;
  width:calc((100% / 6) - 5px);
}

.my_style-section1 h5{
  font-weight: bold;
  opacity:0.6;
}

.my_style-section1 a{
  color:#0069ff;
  font-size: 17px;
  font-weight: bold;
  }

/* seconda sezione */


.my_style-section2{
  text-align: center;
}

.my_style-section2 h2{
  font-weight: bold;
  margin-top: 50px;
}

.my_style-margin{
  margin-top: 30px;
  margin-bottom: 40px;
}

.my_style-ul-li{
  text-align: left;
  font-size: 18px;
}

.my_style-ul-li ul{
  border-left: 1px solid rgba(73, 77, 82, 0.48);
}

.my_style-ul-li ul li{
  margin-bottom: 15px;
}

.my_style-ul-li ul li:first-child{
  color:#031B4E;
  font-weight: bold;
}

.my_style-ul-li ul li:not(:first-child){
  opacity:.7;
}

p.subtitle{
  display:inline-block;
  font-size: 20px;
  max-width: 60%;
  opacity: .8
}

.my_style-section2 img{
  width: 18%;
}

.my_style-text{
  text-align: left;
}

.my_style-text h6{
  font-weight: bold;
  font-size: 18px;
  color:#031B4E;
  margin-bottom: 15px;
}

.my_style-text p{
  font-size: 16px;
  opacity: .7;
}

/* terza sezione */
.my_style-section3{
  min-height: 500px; /* DEBUG:  */
  text-align: center;
  background: #F3F5F9;
  padding-top: 50px;
  padding-bottom: 100px;
}

.my_style-section3 h3{
 font-size: 35px;
}

.my_style-section3 img{
  max-width: 100%;
  margin-bottom: 30px;
}

.subtitle.my_details{
  font-size: 20px;
}

/* quarta sezione */
.my_style-section4{
  text-align: center;
}

.my_style-section4 h3{
  margin-top: 70px;
}

.my_style-section4 img{
  width: 18%;
}

.my_style-section4 a{
  text-decoration: none;
  font-size: 16px;
}

.my_style-section4 p{
  margin-bottom: 20px;
  max-width: 100%;
}


/* quinta sezione */

.my_style-section5{
  text-align: center;
  min-height: 500px;
  background: #031b4e url(../img/data-center-map-20321538.svg);
}

.my_style-section5 h3{
  margin-top: 80px;
  font-size: 35px;
  max-width: 100%;
}

.table{
  text-align: left;
  color:white;
  margin-top: 50px;
}


.table td{
  opacity:.5;
  font-size: 15px;
}

tbody>tr >th.my_first,
tbody>tr >td.my_first{
  border:none;
}

.table td a{
  opacity:none;
  text-decoration: none;
  color: #00d7d2;
  font-weight: bold;
}

/* sesta sezione */

.my_style-section6{
  text-align: center;
  min-height: 400px;
  padding-bottom: 70px;
}

.my_style-section6 .container{
  max-width: 50%;
  min-height: 300px;
}

.my_style-section6 h3{
  font-size: 35px;
}

.my_style-section6 img{
  width: 20%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.my_style-section6 p{
  font-size: 25px;
  color: rgba(3,27,78,.7);
  width: 100%;
  display: inline-block;
}

cite{
  display:block;
  opacity:.6;
  font-size: 18px;
}

.margin-bot{
  margin-bottom: 20px;
}


/* settima sezione */
.my_style-section7{
background-image: url(../img/bg-home-1-d54581d7.jpg);
 min-height:250px;
 text-align: center;
 color:white;
}

.my_style-section7 .my_style-button{
  color:#0069ff;
  padding-left: 20px;
  padding-right: 20px;
}

/* footer */
.my_style-footer{
  background: #010E28;
  color:white;
  padding-top: 70px;
}

.my_style-footer .my_style-litem{
  font-size: 15px;
}

.my_style-footer .my_style-litem li:first-child{
  margin-bottom: 15px;
  font-weight: bold;
}

.my_style-footer .my_style-litem li:not(:first-child){
  opacity:.7;
  margin-bottom: 5px;
}

.my_style-footer ul.social{
  list-style-type: none;
  font-size: 25px;
}

.my_style-footer ul.social li{
 display: inline-block;
 padding-right: 15px;

}

.my_style-footer ul.social li a{
color: hsla(0,0%,100%,.5);
text-decoration: none;
}

.my_style-border-bott{
  border-bottom: 1px solid hsla(0,0%,100%,.5);
  padding-bottom: 30px;
}

.my_style-copyright{
  padding-top: 30px;
  padding-bottom: 30px;
}

.my_style-copyright p{
  opacity:.7;
  font-size: 18px;
}

/* media query */



@media screen and (max-width: 991px){
  /* header */
  .row.my_padding-header{
    margin-bottom: 50px;
  }

  .my_style-ul{
    display:inline-block;
  }

  .my_style-ul li{
    display:inline-block;
    max-width: 20%;
  }

  .my_style-ul li:first-child{
    margin-right: 70%;
  }

  .my_style-ul i{
    font-size: 25px;
    vertical-align: middle;
    display:inline-block;
  }
  /* /header */

  /* prima sezione */
  .my_style-section1 ul li{
    display:inline-block;
    width:calc((100% / 3) - 5px);
  }
}

@media screen and (max-width: 766px){
  /* quarta sezione */
  .my_style-section4 img{
    max-width: 12%;
  }


}
