.debug{
  border:1px solid black;
}


ul{
  list-style-type: none;
}

li {
  display:inline-block;
}

/* header */
.row .col-lg-3 img{
  width:40%;
}


.row .col-lg-6 ul li a{
  line-height: 30px;
}


.my_border{
  border-bottom:1px solid grey;
}

.bg-header{
  min-height: 700px;
  background-image: url(../img/bg-home-1-d54581d7.jpg);
}

.bg-header h1,
.bg-header p{
  color:white;
}

.bg-header h1{
  font-size: 60px;
  font-weight: bold;
}

.bg-header p{
  opacity:.8;
  font-size: 25px;
}

h3{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.my_padding-header{
  padding-top: 100px;
}

.my_style-form{
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

span.display_block{
  display:block;
  margin-top: 20px;
  font-size: 15px;
}

.my_style-button{
  border: 1px solid rgba(0,105,255,.2);
  color:#031B4E;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my_style-button i{
  margin-right:35px;
}
/* /header */

/* prima sezione */
.size{
  width: 80%;
  max-width: 80%;
}

.my_style-section1{
  text-align: center;
  padding:30px;
}
